<!DOCTYPE html>
<html>
    <body>
        <section id="rental-form">
            <div class="content-rental">    
                <div id="form-container">
                    <h1>Bike Rental Form</h1>
                    
                    <table>
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>    
                            To rent a bike, please fill in the following form. Upon submission, you will be directed to a confirmation page.
                        </tr>
                    </table>

                    <form action="#" method="POST">
                        <input type="text" placeholder="Name*" name="name" required>
                        <input type="text" placeholder="Phone*" name="phone" required>
                        <label>Rental Point: </label>
                        <select id="area" name="area">
                            <option value="Area 1">Area 1</option>
                            <option value="Area 2">Area 2</option>
                        </select>
                        <label>Number of bikes: </label>
                        <select id="bike_qtn" name="bike_qtn">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                        </select>
                        <button type="submit">Submit</button>
                    </form>

                </div>

        
            </div>
        </section>

        <hr>

    </body>

    <footer> 
        <p>
            &copy; 2021 BY BIKE RENTAL PTE LTD
        </p>
    </footer>
</html>
